<html>
<p>Upcoming shift assignment on <strong>{{formatDate shift.date}}</strong>
  that was assigned to <strong> {{capitalize staffMember.name}} </strong>
  has been cancelled.</p>
<p>Message from staff member: </p>
<blockquote <p>{{{replaceLineBreaks customMessage}}}</p>
</blockquote>

</html>