<html>
  <p>Upcoming shift assignment on <strong>{{formatDate shift.date}}</strong> 
  that was assigned to <strong> {{capitalize member.name}} </strong> 
  has been cancelled.</p>
  {{#if message}}
  <p>{{capitalize member.name}} says: </p>
  <p>{{{replaceLineBreaks message}}}</p>
  {{/if}}
  </br>
</html>